<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" \
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container"> -->
    
        <!-- Jumbotron -->
        <div class="jumbotron text-center border-bottom">
            <h1 class="font-weight-bold">Mission to Mars</h1>
            <p><a class="btn btn-primary btn-md" href="/scrape" role="button">Scrape Mars Data</a></p>
        </div>
        <br>

        <!-- Latest Mars News -->
        <div class="container">
            <h2>Latest Mars News</h3>
            <h3>{{ mars_info.article_title }}</h6>
            <p>{{ mars_info.article_p }}</p>
        </div>

        <!-- Featured Mars Image -->
        <div class="row">
            <div class="col-md-8 border">
                <h2 class=""><u>Featured Mars Image</u></h2> 
                </br>
                <img class="col-md-12 border" src="{{ mars_info.featured_image_url }}" alt="Featured Mars Image">
            </div>

            <!-- Mars Facts Table -->
            <div class="col-md-4">
            <div class="card">
                <h2>Mars Facts</h2>
                <div class="card-body">
                {{ mars_info.facts_tables | safe }}
                </div>
            </div>
            </div>
        </div>
        <hr>

        <!-- Mars Hemispheres -->
        <div class="row">
            <div class="col-md-8 offset-4">
                <h2 class="align-items-center"><u>Mars Hemispheres</u></h2>  
            </div>
        </div>
        
        <div class="card-deck">
            <hr>
            <div class="col-md-12">
                <div class="row">
                    {% for hemisphere in mars_info.hemispheres_data %}
                    <div class="col-md-6">
                        <div class="img-responsive" style="margin: 30px;">
                            <img class="card-img-top" src="{{ hemisphere.img_url }}">
                            <div class="card-body">
                                <h3 class="card-text">{{ hemisphere.title }}</h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</body>
</html>